@import "../../../assets/scss/base/variables";
@import "../../../assets/scss/base/mixins";

.user-notifications {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.user-notifications__header {
  cursor: pointer;
  background-color: $primary-lighter;
  border-radius: $border-radius
}

.user-notifications__header.with-notifications {
  background-color: rgba($green, 0.7);
}

ul {
  @include reset-list;
  text-align: right;
}

.user-notifications__body {
  background-color: $white-smoke;
}
