<div class="user-notifications border rounded">
  <div class="user-notifications__body p-2" [hidden]="!dropdownToggled">
    <ul class="user-notifications-list">
      <li *ngFor="let friendRequest of friendRequests">
        <span><a routerLink="/profile/{{friendRequest.id}}">{{friendRequest.fullName}}</a></span>
        <button class="btn btn-sm btn-success" (click)="handleFriendRequest('ACCEPT', friendRequest.id)">ACCEPT
        </button>
        <button class="btn btn-sm btn-danger" (click)="handleFriendRequest('DECLINE', friendRequest.id)">DECLINE
        </button>
      </li>
    </ul>
  </div>
  <div class="user-notifications__header p-2"
       (click)="toggleNotificationDropdown()"
       [class.with-notifications]="friendRequests.length > 0">
    Notifications ({{friendRequests.length}})
  </div>
</div>
