@import "../../../assets/scss/base/variables";

.user-notifications {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.user-notifications__header {
  cursor: pointer;
  background-color: $primary-lighter;
  border-radius: 5px;
}

.user-notifications__header.with-notifications {
  background-color: rgba($green, 0.7);
}

ul {
  list-style-type: none;
}

.user-notifications__body {
  background-color: $white-smoke;
}
