$light-background-color: rgb(245, 245, 245);

.user-profile-main {
  h1 {
    font-weight: 400;
    overflow: hidden;
  }
}

ul.user-posts-list, ul.user-profile-friends-preview-list {
  list-style: none;
  padding-inline-start: 0;
}

.user-profile-posts-header {
  background: rgba($light-background-color, 1);
  height: 2em;
}

