@import "../../assets/scss/base/variables";
@import "../../assets/scss/base/mixins";

$dark: $primary;
$light: $white-smoke;
$base-height: 50px;

.user-menu-wrapper {
  height: $base-height;
}

.user-menu-holder {
  height: $base-height;
  width: 100%;
  max-width: 100%;
  background-color: #eee;

  ul.user-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    @include reset-list;

    li {
      display: inline;

      a {
        color: $dark;
        padding: 5px;
        border-radius: $border-radius;

        @mixin activeNavLink {
          background-color: $dark;
          color: $light;
          text-decoration: none;
        }

        &:hover {
          @include activeNavLink;
        }

        &.active {
          @include activeNavLink;
        }
      }

      margin: 0;
    }
  }

  &.fixed {
    position: fixed;
    height: $base-height * 0.75;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    transition: 0.3s;
  }
}
