<div class="row">
  <div class="col-6">
    <div class="input-group mb-3">
      <input [(ngModel)]="name" type="text" class="form-control" placeholder="Name" aria-label="Name">
    </div>
  </div>
  <div class="col-6">
    <div class="input-group mb-3">
      <input [(ngModel)]="lastName" type="text" class="form-control" placeholder="Last Name" aria-label="Name">
    </div>
  </div>
</div>
<div *ngIf="(pagination$ | async) as pagination">
  <ol id="search-users-list" class="list-style-none">
    <li *ngFor="let user of pagination.data">
      <app-user-preview
        [user]="user">
      </app-user-preview>
    </li>
  </ol>
  <div>
    {{pagination.from}} - {{pagination.to}} of {{pagination.total}}
  </div>

  <div class="btn-toolbar pagination-pages-block">
    <div class="btn-group mr-2">
      <button class="btn btn-secondary" [class.disabled]="paginatorRef.isFirst"
              (click)="paginatorRef.setFirstPage()">1
      </button>
    </div>

    <div class="btn-group">
      <button class="btn btn-secondary" [class.disabled]="paginatorRef.isFirst"
              (click)="paginatorRef.prevPage()">&lt;
      </button>

      <button class="btn btn-secondary"
              [class.active]="pagination.currentPage === page"
              *ngFor="let page of pagination.pageControls"
              (click)="paginatorRef.setPage(page)">
        {{page}}
      </button>

      <button class="btn btn-secondary" [class.disabled]="paginatorRef.isLast"
              (click)="paginatorRef.nextPage()">&gt;
      </button>
    </div>

    <div class="btn-group ml-2">
      <button class="btn btn-secondary" [class.disabled]="paginatorRef.isLast"
              (click)="paginatorRef.setLastPage()">{{pagination.lastPage}}</button>
    </div>
  </div>
</div>

