<ng-container *ngIf="posts.length; else noPosts">
<ul id="newsFeedList" class="reset-list">
  <li *ngFor="let post of posts">
    <app-user-post
      [isPersonal]="false"
      [authorId]="post.author.id"
      [id]="post.id"
      [authorFullName]="post.author.fullName"
      [createdAt]="post.createdAt"
      [updatedAt]="post.updatedAt"
      [text]="post.text"></app-user-post>
  </li>
</ul>
</ng-container>
<ng-template #noPosts>
  <div class="container no-content-placeholder">No posts here</div>
</ng-template>
