@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.ng-valid:not(form) {
  border-left: solid 5px #42A948;
}

.ng-invalid:not(form) {
  border-left: solid 5px #a94442;
}

form {
  background: #cffcff;
  padding: 2rem;
  border: solid #00f2ff 2px;
  max-width: 50%;
  margin: auto;
}

.not-rounded {
  border-radius: 0 !important;
}

.user-avatar-min {
  max-height: 2em;
}

.list-style-none {
  list-style-type: none;
}
